@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,600);
@import "foundation_and_overrides";

.button {
  padding: 0 30px;
  display: inline-block;
  height: 38px;
  text-align: center;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 11px;
}

label {
  display: block;
  margin-bottom: .3rem;
  font-weight: 600;
  line-height: 1.6;
}

.header {
  text-transform: uppercase;
}

.navigation {
  font-size: 13px;
  margin-bottom: 20px;
  a {
    color: #FFF;
  }
  .menu-text {
    font-size: 15px;
    color: #FFF;
  }
}

.input.error {
  label {
    @extend .is-invalid-label;
  }

  input,
  textarea,
  select {
    @extend .is-invalid-input;
  }

  small.error {
    @extend .form-error;
    @extend .is-visible;
  }
}
